<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Rólunk | FRT</title>

    <th:block th:include="fragments/general.html :: headerFiles"></th:block>
    <link th:href="@{/css/rolunk/rolunk.css}" href="#" rel="stylesheet">
</head>

<body>
    <div th:replace="fragments/general :: loader"></div>
    <nav th:replace="fragments/general :: nav"></nav>

    <div class="banner">
        <div class="pulse"></div>
    </div>
    <main>
        <h1 class="FRT">FRT Raszter Építésziroda KFT</h1>
        <div class="col">
            <div class="row balazs">
                <div class="card cimek">
                    <div class="picture balazs"></div>
                    <h1 class="name">Takács Balázs</h1>
                    <h2>ügyvezető igazgató</h2>                    
                </div>
                <div class="card">
                    <h1 class="title">Tanulmányok</h1>
                    <div class="education">
                        <p><span>- </span>Hild József Építőipari Szakközépiskola, Győr 1987-1991</p>
                        <p><span>- </span>BME Építészmérnöki Kar, építészmérnöki képzés 1991-1996</p>
                        <p><span>- </span>BME Építészmérnöki Kar, szigetelő szakmérnök képzés 2000-2002</p>
                    </div>
                </div>
                
                <div class="card rolam">
                    <h1 class="title">Rólam</h1>
                    <div class="about">
                        <p><span>- </span>Születési hely: <span>Pápa</span></p>
                        <p><span>- </span>Születési idő: <span>1972</span></p>
                        <p><span>- </span>okleveles építészmérnök</p>
                        <p><span>- </span>okleveles szigetelő szakmérnök</p>
                        <br>
                        
                        <p class="rizsa">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Et assumenda autem reiciendis dignissimos consequatur aspernatur amet sed obcaecati mollitia nobis praesentium officiis porro, facilis ut cum ipsa provident sunt accusamus.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row ricsi">
                <div class="card cimek">
                    <div class="picture ricsi"></div>
                    <h1 class="name">Reisch Richárd</h1>
                    <h2>ügyvezető igazgató</h2>
                </div>
                <div class="card tanulmanyok">
                    <h1 class="title">Tanulmányok</h1>
                    <div class="education">
                        <p><span>- </span>József Attila Gimnázium 1988-1991</p>
                        <p><span>- </span>BME Építészmérnöki Kar, építészmérnöki képzés 1991-1997</p>
                        <p><span>- </span>BME Építészmérnöki Kar, PhD doktori iskola 1997-2000</p>
                        <p><span>- </span>BME Építészmérnöki Kar, szigetelő szakmérnök képzés 2000-2002</p>
                    </div>
                </div>
                
                <div class="card rolam">
                    <h1 class="title">Rólam</h1>
                    <div class="about">
                        <p><span>- </span>Születési hely: <span>Budapest</span></p>
                        <p><span>- </span>Születési idő: <span>1972</span></p>
                        <p><span>- </span>okleveles építészmérnök</p>
                        <p><span>- </span>okleveles szigetelő szakmérnök</p>
                        <br>
                        
                        <p class="rizsa">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos culpa amet distinctio quasi qui beatae id, quidem ipsa voluptas! Dignissimos esse alias repellat doloribus beatae, voluptatem ad sunt eveniet dolor.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer th:replace="fragments/general :: footer"></footer>
    <th:block th:include="fragments/general :: scripts"></th:block>
</body>

</html>