#navbox, nav {
    background: var(--bg_color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--nav_height);
    transition: width .25s, height .25s;
}
#navbox {
    width: 100%;
    position: relative;
    z-index: 20;
}
nav {
    width: var(--nav_width);
    padding: 0 var(--inner_padding);
}
.logo {
    margin-right: auto;
    padding-right: 2rem;
    display: flex;
    align-items: center;
    height: var(--nav_height);
    min-height: var(--nav_height);

    img {
        height: 5.5rem;
        transition: height .25s;
        display: flex;
        align-items: center;
    }
}
#linklist {
    display: flex;
    margin-right: -1.5rem;

    li {
        margin: 0 1.5rem;
        line-height: 3rem;

        a {
            color: var(--font_color);
            font-size: 1.6rem;
            display: block;
            width: 100%;
            height: 3rem;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: .2rem;
        }
    }
}
//hover line
#linklist li {
    &::after {
        content: "";
        position: relative;
        display: block;
        width: 100%;
        height: 2px;
        background-color: var(--accent_color);
        border-radius: 2px;
        transform: scaleX(0);
        transition: transform .2s ease;
        transition-delay: 0s;
      }
    &:hover::after {
        transform: scaleX(1);
        transition-delay: .1s;
    }
    &.active::after {
        transition: none !important;
        transform: scaleX(1);
    }
}

#check {
    display: none;
}
label.menubtn {
    color: var(--font_color);
    font-size: 3rem;
    cursor: pointer;
    z-index: 1;
    display: none;

    i {
        position: absolute;
        line-height: var(--nav_height);
        right: var(--inner_padding);
        top: 0;
        &:nth-child(1) {
            transition: opacity .25s, transform .25s;
        }
        &:nth-child(2) {
            transition: opacity .25s, transform .25s;
            transform: rotate(-180deg) scale(.5);
            opacity: 0;
        }
    }

    &.close i {
        &:nth-child(1) {
            transform: rotate(180deg) scale(.5);
			opacity: 0;
        }
        &:nth-child(2) {
            transform: rotate(0deg) scale(1);
			opacity: 1;
        }
    }
}

@media only screen and (max-width: 1200px) {
    :root {
        --nav_width: 1000px;
        --inner_padding: 2rem;
    }
    nav {
        justify-content: flex-start;
    }
    .logo img {
        height: 5rem;
    }
}
@media only screen and (max-width: 1024px) {
    :root {
        --nav_width: 100%;
        --nav_height: 8.5rem;
    }
    #navbox {
        height: var(--nav_height);
        margin-bottom: 1rem;

        &.opened {
            height: 29.5rem !important;
        }
    }
    nav {
        flex-direction: column; align-items: flex-start;
        height: var(--nav_height);
        overflow: hidden;
        transition: height .25s;

        &.opened {
            height: 29.5rem !important;
        }
    }
    .logo img {
        height: 4.5rem;
    }
    #linklist {
        width: 100%;
        margin-top: 0;
        flex-direction: column;
        line-height: 5rem;

        li {
            width: fit-content;
            margin: 0; 
            &.active::after, &:hover::after {
                display: none;
            }
            &.active a, &:hover a {
                color: var(--accent_color);
            }

            a {
                display: flex;
                align-items: center;
                height: 4rem;
                line-height: 4rem;
                padding-top: .5rem;
            }
        }
    }
    label.menubtn {
        display: block;
    }
}